[submodule "Part1/ex10/frontend-example-docker"]
	path = Part1/ex10/frontend-example-docker
	url = https://github.com/docker-hy/frontend-example-docker.git
[submodule "Part1/ex13/spring-example-project"]
	path = Part1/ex13/spring-example-project
	url = https://github.com/docker-hy/spring-example-project.git
[submodule "Part1/ex14/rails-example-project"]
	path = Part1/ex14/rails-example-project
	url = https://github.com/docker-hy/rails-example-project.git
[submodule "Part1/ex11/backend-example-docker"]
	path = Part1/ex11/backend-example-docker
	url = https://github.com/docker-hy/backend-example-docker.git
[submodule "Part3/ex2/docker-hy.github.io"]
	path = Part3/ex2/docker-hy.github.io
	url = https://github.com/docker-hy/docker-hy.github.io.git
[submodule "Part3/ex1/ex1a/frontend-example-docker"]
	path = Part3/ex1/ex1a/frontend-example-docker
	url = https://github.com/docker-hy/frontend-example-docker.git
[submodule "Part3/ex1/ex1b/backend-example-docker"]
	path = Part3/ex1/ex1b/backend-example-docker
	url = https://github.com/docker-hy/backend-example-docker.git
[submodule "Part3/ex4/frontend/frontend-example-docker"]
	path = Part3/ex4/frontend/frontend-example-docker
	url = https://github.com/docker-hy/frontend-example-docker.git
[submodule "Part3/ex4/backend/backend-example-docker"]
	path = Part3/ex4/backend/backend-example-docker
	url = https://github.com/docker-hy/backend-example-docker.git
[submodule "Part3/ex5/frontend/frontend-example-docker"]
	path = Part3/ex5/frontend/frontend-example-docker
	url = https://github.com/docker-hy/frontend-example-docker.git
[submodule "Part3/ex5/backend/backend-example-docker"]
	path = Part3/ex5/backend/backend-example-docker
	url = https://github.com/docker-hy/backend-example-docker.git
[submodule "Part3/ex6/frontend-example-docker"]
	path = Part3/ex6/frontend-example-docker
	url = https://github.com/docker-hy/frontend-example-docker.git
[submodule "frontend-example-docker"]
	path = frontend-example-docker
	url = https://github.com/docker-hy/frontend-example-docker.git
